<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Success</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container-fluid">
        <div class="row justify-content-center align-items-center min-vh-50">
            <div class="col-10 col-md-6">
                <div class="d-flex flex-column align-items-center py-5">
                    <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.2" d="M44 77C62.2254 77 77 62.2254 77 44C77 25.7746 62.2254 11 44 11C25.7746 11 11 25.7746 11 44C11 62.2254 25.7746 77 44 77Z" fill="#2DB324" />
                        <path d="M59.125 35.75L38.9469 55L28.875 45.375" stroke="#2DB324" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M44 77C62.2254 77 77 62.2254 77 44C77 25.7746 62.2254 11 44 11C25.7746 11 11 25.7746 11 44C11 62.2254 25.7746 77 44 77Z" stroke="#2DB324" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <h3 class="text-lg font-weight-bold">Your order is successfully placed</h3>
                    <p class="max-w-md text-sm text-center my-4 text-gray-600">Pellentesque sed lectus nec tortor tristique accumsan quis dictum risus. Donec volutpat mollis nulla non facilisis.</p>
                    <div class="d-flex gap-3">
                        <a asp-controller="Home" asp-action="MainHome" class="btn btn-outline-warning py-2 px-4">
                            Continue Shoping
                        </a>
                        <a asp-controller="UserProfile" asp-action="OrderList" class="btn btn-warning py-2 px-4">
                            VIEW ORDER
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
