@model E_commercePro.ViewModel.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutUserProfile.cshtml";
}




<body>
   <div class="screen-overlay"></div>
    <main class="main-wrap">
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Address</h2>
            </div>
            <div class="container mt-5 ">
                <form method="post" asp-action="ChangePassword">
                    <input hidden name="userId" id="userId" value="{{userId}}">
                    <div class="form-group">
                        <label asp-for="CurrebtPassword" >Password</label>
                        <input asp-for="CurrebtPassword" type="password" class="form-control" id="Password1" placeholder="Enter your current password">
                        <span asp-validation-for="CurrebtPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="NewPassword">Password</label>
                        <input asp-for="NewPassword" type="password" class="form-control" id="Password1" placeholder="Enter your current password">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="Password2" placeholder="Confirm your password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <button  type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </section>
    </main>
<</body>

